{% extends "../layout.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Hover Data Table</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Create Time</th>
          </tr>
          </thead>
          <tbody>
          {% for user in paginator.records %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.create_time }}</td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Create Time</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">The total number of records is {{ paginator.count }}</div>
  </div>
  <div class="col-sm-7">
    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
      <ul class="pagination">
        {% if paginator.current > 1 %}
        <li class="paginate_button previous disabled" id="example1_previous">
          <a href="/admin/user/lists?page={{ paginator.current - 1 }}" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
        </li>
        {% endif %}
        {% if paginator.pages > 1 %}
          {% for i in range(1, paginator.pages + 1) -%}
          <li class="paginate_button{% if i == paginator.current %} active{% endif %}">
            <a href="/admin/user/lists?page={{ i }}" aria-controls="example1" data-dt-idx="1" tabindex="0">{{ i }}</a>
          </li>
          {%- endfor %}
        {% endif %}
        {% if paginator.current < paginator.pages %}
        <li class="paginate_button next" id="example1_next">
          <a href="/admin/user/lists?page={{ paginator.current + 1 }}" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<!-- /.row -->
{% endblock %}
{% block js %}
<script src="/dist/js/common.js"></script>
<script src="/dist/js/user.js"></script>
{% endblock %}
