{% extends "../layout.html" %}
{% block body %}
    Welcome to the cms world
{% endblock %}
{% block js %}
<script src="/dist/js/common.js?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?00e43?00e43?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb?ab3bb"></script>
<script src="/dist/js/user.js?d4e89?d4e89?a99b0?8e072?19342?6025a?6025a?6025a?02aef?02aef?c7dac?d41d8?95f5c?95f5c?53f91?53f91?66348?870f3?d75a2?2823d?20e17?28b8a?9d77e?9d77e?1e21f?3b0d8?3b0d8?9cfec?974af?974af?9c4fb?9c4fb?9c4fb?0ccbd?86d9e?86d9e?86d9e"></script>
{% endblock %}
